<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="WWConnection"
         connectionString="Server=bcc78b3d-3736-4e35-9c8c-a38100f387fe.sqlserver.sequelizer.com;Database=dbbcc78b3d37364e359c8ca38100f387fe;User ID=vhthyvpflumikhoh;Password=3QgiiyAwT7o3TnYn5gjcRgFNMRLHYi7XA3GSLG8zYwFbJRBn8rxsiEHUiADzU2EJ;" />
  </connectionStrings>
</configuration>