@{
  ViewBag.Title = "Index";
}

@section headscripts
{
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

}
<h2>Create Graph Data</h2>

<div data-ng-controller="graphCtrl">
  
  <div class="row">
    <div class="col-md-2">
      <label>Name:</label>
      <input type="text" data-ng-model="pie.Name" placeholder="Name" class="form-control" />
    </div>
    <div class="col-md-1">
      <label>Amount:</label>
      <input type="text" data-ng-model="pie.Value" placeholder="Value" class="form-control" />
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" data-ng-click="save()" data-ng-hide="updateMode" data-ng-cloak="">Submit</button>
      <button class="btn btn-primary" data-ng-click="update()" data-ng-show="updateMode" data-ng-cloak="">Update</button>
      <button class="btn btn-danger" data-ng-click="cancelUpdate()" data-ng-show="updateMode" data-ng-cloak="">Cancel</button>

    </div>

    <div class="col-md-offset-4">

      <select data-ng-model="selectedCategory" data-ng-options="cat.Name  for cat in categories" data-ng-cloak="">
      
      </select>

      <input type="checkbox" data-ng-model="chkPie" id="chkPie" title="Pie" data-ng-cloak="" /><label for="chkPie">Pie</label>
      <div id="myGraph"></div>
    </div>
  </div>

  <div class="badge">{{status}}</div>
  <hr />
   <div class="loader">
    <img src="~/Images/ajax-loader.gif" class="ajax-loader" data-ng-show="loadMode" />
  </div>
  <table class="table table-striped" data-ng-cloak="">
    <thead>
      <tr>
        <th>Fruit</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="p in pies">
        <td>{{p.Name}}</td>
        <td>{{p.Value}}</td>
        <td>
          <a href="#" data-ng-click="edit()"><i class="glyphicon glyphicon-edit"></i></a>| 
                    <a href="#" data-ng-click="delete(p.PieValueId)"><i class="glyphicon glyphicon-remove"></i></a>

        </td>
      </tr>
    </tbody>
  </table>
</div>

@section scripts
{
    <script src="~/Scripts/bootbox.js"></script>
  <script src="~/Scripts/Custom/Graph_Index.js"></script>
}