@{
    ViewBag.Title = "ShowGraph";
}

@section headscripts
{

 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
}

<div id="status">All systems are go...</div>

<hr />



  <div id="myGraph"></div>

<hr />


@section scripts
{
  <script>
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', { 'packages': ['corechart'] });

    function drawPie(data) {
      var tdata = new google.visualization.DataTable();

      tdata.addColumn('string', 'Fruits');
      tdata.addColumn('number', 'Sales');
      for (var i = 0; i < data.length; i++) {
        tdata.addRow([data[i].Name, data[i].Value]);
      };
      new google.visualization.PieChart(document.getElementById('myGraph')).
        draw(tdata, { title: "Fruits", is3D: true });

    };

    function drawVisualization() {

     

   
      $.get('GetPieData').done(function (data) {
        //Success
        drawPie(data);
      }).fail(function (error) {
        //Error
        $("#status").html(error);

      }).always(function () {
        //Finally

      });






  //    $.get('GetPieData', {},
  //        function (data) {

  //          var tdata = new google.visualization.DataTable();

  //          tdata.addColumn('string', 'Fruits');
  //          tdata.addColumn('number', 'Sales');

  //          for (var i = 0; i < data.length; i++) {
  //            tdata.addRow([data[i].Name, data[i].Value]);
  //          }

  //          // Create and draw the visualization.
  //          new google.visualization.PieChart(document.getElementById('myGraph')).
  //              draw(tdata, { title: "Fruits", is3D: true });


  //        }
  //); // end get!


    };

    google.setOnLoadCallback(drawVisualization);

    setInterval(function () {
      drawVisualization();
      console.log(Date());
    }, 2000);

  </script>

}