@model WorkoutWeb.Models.Category
@{
    ViewBag.Title = "ShowGraph";
}

@section headscripts
{

 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
}
<div style="display:none" id="cid">@Model.CategoryId</div>
<div style="display:none" id="cname">@Model.Name</div>

<div id="status">All systems are go...</div>

<hr />



  <div id="myGraph"></div>

<hr />


@section scripts
{
  <script>
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', { 'packages': ['corechart'] });
    var modelCat = {};
    $(function () {
      var cid = $("#cid").text();
      var cname = $("#cname").text();
      modelCat = { CategoryId: cid, Name: cname };

    });

    function drawPie(data) {
      var tdata = new google.visualization.DataTable();

      tdata.addColumn('string', modelCat.Name);
      tdata.addColumn('number', 'Value');
      for (var i = 0; i < data.length; i++) {
        tdata.addRow([data[i].Name, data[i].Value]);
      };
      new google.visualization.PieChart(document.getElementById('myGraph')).
        draw(tdata, { title: modelCat.Name, is3D: true });

    };

    function drawVisualization() {

     

   
      $.get('/Graph/GetPieData/' + modelCat.CategoryId).done(function (data) {
        //Success
        drawPie(data);
      }).fail(function (error) {
        //Error
        $("#status").html(error);

      }).always(function () {
        //Finally

      });









    };

    google.setOnLoadCallback(drawVisualization);

    setInterval(function () {
      drawVisualization();
      console.log(Date());
    }, 5000);

  </script>

}